$button : #0d6efd;
$sidebar :#15558d;
$table:red;
$letter:rgb(138, 128, 128);
$bg:#f9f9f9;
$blueword: rgb(22, 136, 212);

.contain {
    display: flex;
}

.dash-container {
    width: 80%;
}

.text-dash {
    color: $letter;
    text-align: left;
    padding: 1rem 2rem 0 2rem;
    width: 100%;
    // background-color: $bg;
}

.text-dash h4, h5{
    color: #15558d;
}

.dash-container {
    width: 80%;
}


.dashcard-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.dashcard {
background-color: $bg;
    color: $sidebar;
    border-radius: 5px;
    margin: 1.8rem;
    width: 18rem;
    height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.dashcard-container .dashcard2 {

    padding: 0.5rem;
    width: 31rem;
    border-radius: 5px;
    height: 18rem;
    border: 1px solid rgb(231, 227, 227);
    margin: 1rem;
    overflow: scroll;
}

.dashcard2 Table{
    padding: 0.5rem;
    font-size: small;
}


.dashcard2 h5 {
    position: sticky;
    color: $sidebar;
    margin: 1rem;
}

.dash-icon {
    font-size: 1.2rem;
    margin: 0.8rem;
}

.dashcard2 table th {
    color: $letter;
}

.counter {
    margin: 0px 86px;
    width: 7rem;
    height: 7rem;
    border: 8px solid green;
    border-radius: 50%;
    border-top-color: rgb(41, 141, 230);
    animation: spin 2s linear infinite;
}